[submodule "themes/hugo-code"]
	path = themes/hugo-code
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
